# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Environment variables
.env
.env.*

# Logs
*.log

# Build files
build/
dist/
*.egg-info/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python compiled files
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints

# Render / Docker temp
*.sqlite3